<%- include('header'); -%>

<h2 class="text-center hiring mt-2">Hiring</h2>
<div class="relative w-full my-8 p-4 py-10 border border-gray-300 rounded-md">
  <div class="flex w-full flex-wrap gap-20 items-center justify-evenly">
    <% companies.forEach(function (company){ %>
    <div
      class="relative w-60 min-w-210 px-2 py-6 cursor-pointer hover:bg-card bg-gray-100 shadow-md rounded-lg flex flex-col items-center"
    >
      <p class="text-base text-center text-headingColor font-semibold my-2">
        <%= company.Company_Name %>

        <span class="block text-sm text-gray-400 my-1">
          <%= company.Job_Title %>
        </span>
        <span class="block text-sm text-gray-400 my-1">
          <%= company.Location %>
        </span>
        <span class="block text-sm text-headingColor font-semibold my-1">
          <%= company.Salary %>
        </span>

        <span class="block text-sm text-base my-1">
          <%= company.last_date %>
        </span>
        <span class="block btn btn-outline-primary text-lg text-base my-3">
          <a href="<%= company.link %>" target="_blank">Apply</a>
        </span>
      </p>
    </div>

    <% }) %>
  </div>
</div>
